
# pixi environments
.pixi
*.egg-info
# magic environments
.magic
proof-of-concept/__pycache__/audio_processor.cpython-312.pyc
proof-of-concept/__pycache__/audio_processor.cpython-313.pyc
proof-of-concept/__pycache__/callbacks.cpython-312.pyc
proof-of-concept/__pycache__/callbacks.cpython-313.pyc
proof-of-concept/__pycache__/serial_handler.cpython-312.pyc
proof-of-concept/__pycache__/serial_handler.cpython-313.pyc
